{% extends "bootstrap/base.html" %}

{% block content %}
{% if client.id %}
<h1>Edit Client</h1>
{% else %}
<h1>Add Client</h1>
{% endif %}

<form action="{{ action }}" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  
<div class="form-actions">
	{% if client.id %}
		<a href="{{ client.get_absolute_url }}" class="btn" btn-sm>Back to client page</a>
	{% else %}
		<a href="{% url "client-list" %}" class="btn" btn-sm>Back to client list</a>
	{% endif %}
	<input id="save_client" class="btn btn-primary btn-sm" type="submit" value="Save" />
</div>

</form>


{% endblock %}
