{% extends "bootstrap/base.html" %}
{% block extra_head %}
    <link href="{{ STATIC_URL }}css/tablesorter.css" rel="stylesheet">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script> 

<script type="text/javascript" id="js">
$(document).ready(function() { 
    $("table").tablesorter(); 
});
   </script>
{% endblock extra_head %}

{% block content %}
<h1>Products</h1>
{% if product_list %}
    <table class="table table-bordered table-striped table-condensed tablesorter" id="sortTable">
    <thead>
    <tr>
    	<th>Type</th>
        <th>Title</th>    	
    	<th>Client</th>
    	<th>Due Date</th>
    	<th>Status</th>    	
    </tr>
    </thead>
    <tbody>
    {% for product in product_list %}
    <tr>
        <td>{{ product.product_type }}</td>
        <td><a href="{% url "product-detail" product_id=product.id %}">{{ product.title }} {{ product.name }}</a></td>                
        <td>{{ product.title.client }}</td>
        <td>{{ product.due_date }}</td>
        <td {% if product.status.color %}class='{{ product.status.color }}'{% endif %}>{{ product.status }}</td>
    {% endfor %}
    </tbody>   
    </table>
{% else %}
    <p>No products are available.</p>
{% endif %}

<h3>Completed Products</h3>
{% if completed_list %}
    <table class="table table-bordered table-striped table-condensed tablesorter" id="sortTable">
    <thead>
    <tr>
        <th>Type</th>
        <th>Title</th>      
        <th>Client</th>
        <th>Due Date</th>
        <th>Status</th>     
    </tr>
    </thead>
    <tbody>
    {% for product in completed_list %}
    <tr>
        <td>{{ product.product_type }}</td>
        <td><a href="{% url "product-detail" product_id=product.id %}">{{ product.title }} {{ product.name }}</a></td>                
        <td>{{ product.title.client }}</td>
        <td>{{ product.due_date }}</td>
        <td {% if product.status.color %}class='{{ product.status.color }}'{% endif %}>{{ product.status }}</td>
    {% endfor %}
    </tbody>   
    </table>
{% else %}
    <p>No products are completed.</p>
{% endif %}
{% endblock %}