{% extends "bootstrap/base.html" %}

{% block content %}

<h2>{{ instance.product.full_name }}</h2>
<h3>{{ page_title }}</h3>

<form action="{{ action }}" method="POST">
  {% csrf_token %}
  {{ form.name.id }}

{% if form.errors %}<p class="text-error">Required information missing:</p>{% endif %}

<table>
  <tr>
    <th>Asset type: </th>
    <td>{{ instance.asset_type }}</td>
  </tr>
  <tr>
    <th>{{ form.name.label }}:</th>
    <td>{%if form.name.errors %}<span class="control-group error">{{ form.name }}</span>
      {% else %}
        {{ form.name }}
      {%endif%}</td>
  </tr>
</table>
<input id="save_asset" class="btn btn-primary btn-sm" type="submit" value="Save" />
</form>

<a href="{{ instance.get_absolute_url }}">cancel</a>

{% endblock %}