{% extends "bootstrap/base.html" %}
{% block extra_head %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.formset.js"></script>
    <script type="text/javascript">
    $(function() {
      $('#myFormset tbody tr').formset({
        prefix: '{{ formset.prefix }}'
      });
    })
  </script>
{% endblock extra_head %}

{% block content %}

<h2>{{ instance.full_name }}</h2>
<h1>{{ title.name }}</h1>

<h3>{{ page_title }}</h3>

{{ formset.non_form_errors.as_ul }}
<form action="{{ action }}" method="POST" id="myFormset">
{% csrf_token %}

{% if formset.errors %}<p class="text-error">Required information missing:</p>{% endif %}

<table id="formset" class="table-striped">
{% for form in formset.forms %}
  {% if forloop.first %}
  <thead><tr>
    {% for field in form.visible_fields %}
    <th>{{ field.label|capfirst }}</th>
    {% endfor %}
  </tr></thead>
  {% endif %}

  <tr class="{% cycle row1,row2 %}">
  {% for field in form.visible_fields %}
    <td>
    {# Include the hidden fields in the form #}
    {% if forloop.first %}
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
    {% endif %}
      {%if field.errors %}<span class="control-group error">{{ field }}</span>
      {% else %}
        {{ field }}
      {%endif%}
    </td>
  {% endfor %}
    <td>&nbsp;</td>
  </tr>

{% endfor %}
</table><br />
<input id="save_asset" class="btn btn-primary btn-sm" type="submit" value="Save" />
{{formset.management_form}}
</form>

<a href="{{ instance.get_absolute_url }}">cancel</a>

{% endblock %}