{% extends "bootstrap/base.html" %}

{% block content %}
<h2>{{ instance.product }}</h2>
<h3>{{ instance.name }}</h3>
<h4>{{ form.initial.status }}</h4>
{{ form.errors }}
<form action="{{ action }}" method="POST" class="form-horizontal">
  {% csrf_token %}
  
    {% for field in form %}
    <div class="control-group">
        
        <label for="{{ field.auto_id }}" class="control-label">{{ field.label|safe }}:</label>

        <div class="controls">{{ field }}</div>
    </div>
    {% endfor %}

<div class="form-actions">
  {% if returnPage %}
                            <a href = "{% url "testing-submit" %}" class="btn btn-sm">Cancel</a></td>
                        {% else %}
                            <a href = "{% url "asset-detail" product_id=instance.product.id asset_id=instance.id %}" class="btn btn-sm">Cancel</a></td>
                        {% endif %}
  <input id="save_asset" class="btn btn-primary btn-sm"  type="submit" value="Save"/>
</div>

</form>

{% endblock %}